.order-screen {
    display: flex;
    justify-content: flex-end;

    background-image: url("../../assets/images/dtf-printer.png");
    background-size: 100% 100%;
}

.bottom-order-widget-active {
    animation: animationFromBottom 1s ease-in-out forwards;
}

@keyframes animationFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
