@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 20px 20px;
    max-width: 100%;
    animation: fadeInFromBottom 0.8s ease-in-out; 
    background-color: var(--color-gray);
    color: #f7f7f7;
}

.footer p i {
    font-size: 16px;
}

.footer__links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 1rem;
}

.footer__logo {
    display: flex;
    gap: .5rem;
}

.footer__logo-img {
    width: 60px;
}

.footer__privacy {
    margin-top: 1rem;
    text-align: center;
}

.footer__privacy p {
    display: inline;
    cursor: pointer;
    color: var(--color-blue);
}

.footer__navbar a {
    color: #f7f7f7;
}

.footer__navbar a:hover {
    color: var(--color-blue);
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    gap: 15px;
}

.footer__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contact__subtitle {
    align-self: start;
}

.contact__phones,
.contact__messengers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phones,
.messengers {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media screen and (max-width: 800px) {
    .footer__navbar {
        display: none;
    }
}